<div :id="cid_" class="lu-tree-view lu-tree-view--bordered">
    <ul class="lu-list-group" :class="elements_.elements && elements_.elements.length == 1 ? 'lu-single-element' : ''">
        <component :key="element.uniq"
                   v-bind="element.slots"
                   v-bind:openOnActiveItems = "openOnActiveItems_"
                   v-bind:closeAllProp = "closeAllProp_"
                   v-bind:deactivateAllProp = "deactivateAllProp_"
                   v-bind:is="element.name"
                   v-on:closeAll="closeAll"
                   v-on:deactivateAll="deactivateAll"
                   v-for="(element, key) in elements_.elements">
        </component>
    </ul>
</div>