<component :id="cid_" :is="container_" class="lu-w-100" ref="form" @submit="submit" :class="css_">

    <div class="lu-widget" data-component="tabs-container">
        <div class="lu-widget__header">
            <div class="lu-widget__nav swiper-container swiper-container-horizontal swiper-container-false" data-content-slider="">
                <ul class="swiper-wrapper lu-nav lu-nav--md lu-nav--h lu-nav--tabs lu-nav--arrow">
                    <li :class="['lu-nav__item swiper-slide swiper-slide-active swiper-slide-visible',index == activeTabIndex_ ? 'is-active' : '']"
                        v-bind:key="tab.uniq"
                        v-for="(tab, index) in elements_.elements"
                        v-if="tab.slots">
                        <a :href="'#tab-'+tab.cid" class="lu-nav__link" @click="setActiveTabIndex(index)">
                            <span class="lu-nav__link-text">{{tab.slots.title}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="lu-widget__body">
            <div class="lu-tab-content" :class="elements_.elements && elements_.elements.length == 1 ? 'lu-single-element' : ''">
                <div class="lu-preloader-container lu-preloader-container--full-screen lu-preloader-container--overlay" v-show="loading_">
                    <div class="lu-preloader lu-preloader--sm"></div>
                </div>
                <component
                        :id="'tab-'+tab.cid"
                        v-bind="tab.slots"
                        v-bind:class="['lu-tab-pane ', index == activeTabIndex_ ? 'is-active' : '']"
                        v-bind:is="tab.name"
                        v-bind:key="tab.uniq"
                        v-on:reload-parent="onReloadParent"
                        v-for="(tab,index) in elements_.elements">
                </component>
            </div>
        </div>
    </div>

    <div class="lu-col-md-12">
        <div class="lu-row">
            <component
                    :key="elements_.buttons.previousStep.uniq"
                    v-bind="elements_.buttons.previousStep.slots"
                    v-bind:is="elements_.buttons.previousStep.name"
                    v-if="elements_.buttons.previousStep"
                    v-on:click="previousStepClick"
            ></component>
            <div class="lu-container-fluid"></div>
            <component
                    :key="elements_.buttons.nextStep.uniq"
                    v-bind="elements_.buttons.nextStep.slots"
                    v-on="$listeners"
                    v-bind:is="elements_.buttons.nextStep.name"
                    v-on:click="nextStepClick"
                    v-if="!isLastStep_"
            ></component>
            <component
                    :key="elements_.buttons.submit.uniq"
                    v-bind="elements_.buttons.submit.slots"
                    v-on="$listeners"
                    v-bind:is="elements_.buttons.submit.name"
                    v-else
            ></component>
        </div>
    </div>

</component>