<div :id="cid_" class="lu-navbar__nav">
    <ul class="lu-nav lu-nav--h lu-is-left" :class="elements_.elements && elements_.elements.length == 1 ? 'lu-single-element' : ''">
        <component v-bind="element.slots" v-bind:is="element.name" v-bind:key="element.uniq" v-for="(element, key) in elements_.elements"></component>
    </ul>
    <div class="lu-top__toolbar lu-is-right lu-p-r-2x" v-if="elements_.toolbar">
        <component :key="elements_.toolbar.uniq" v-bind="elements_.toolbar.slots" v-bind:is="elements_.toolbar.name"></component>
    </div>
</div>


