<div :id="cid_" class="lu-widget">
    <div class="lu-widget__header">
        <div class="lu-widget__top lu-top">
            <div class="lu-top__title">
                {{title}}
            </div>
        </div>
    </div>
    <div class="lu-widget__body">
        <div class="lu-navbar__nav" data-content-slider="">
            <ul class="slu-nav lu-nav--h lu-is-left" :class="items_ && items_.length == 1 ? 'lu-single-element' : ''">
                <component :key="item.uniq" v-bind="item.slots" v-bind:is="item.name" v-for="(item, key) in items_" v-on="$listeners"></component>
            </ul>
        </div>
    </div>
</div>