<li :id="cid_" itemItem class='lu-list-group__item' :class="[openClass_, activeClass_]">
    <div class='lu-list-group__top lu-top'>
        <span class='lu-toggle-icon' @click="toggle" v-if="elements_.elements"></span>
        <span v-else></span>
        <div class='lu-top__title' @click="click ">{{title_}}</div>
    </div>
    <ul class="lu-list-group" :class="elements_.elements && elements_.elements.length == 1 ? 'lu-single-element' : ''">
        <component :key="element.uniq"
                   v-bind="element.slots"
                   v-bind:openOnActiveItems = "openOnActiveItems_"
                   v-bind:closeAllProp = "closeAllProp_"
                   v-bind:deactivateAllProp = "deactivateAllProp_"
                   v-bind:is="element.name" v-for="(element, key) in elements_.elements"
                   v-on:openItem="openItem"
                   v-on:closeAll="closeAll"
                   v-on:deactivateAll="deactivateAll">
        </component>
    </ul>
</li>