<iframe :id="cid_" :srcdoc="content_" class="lu-iframe" scrolling="no"  marginheight="0" frameborder="0" :class="[css_, {'lu-single-element' : elements_.elements && elements_.elements.length == 1}]">

    <!-- preloader -->
    <div class="lu-preloader-container lu-preloader-container--full-screen"
         v-show="loading_ && showPreloader_">
        <div class="lu-preloader lu-preloader--sm"></div>
    </div>
    <!-- end of preloader -->

    <component :key="element.uniq" v-bind="element.slots" v-bind:is="element.name" v-for="(element, key) in elements_.elements" v-on="$listeners"></component>
</iframe>