<component :id="cid_" :is="container_" class="lu-w-100" :class="[css_, {'lu-single-element' : elements_.elements && elements_.elements.length == 1}]">
    <div class="lu-preloader-container lu-preloader-container--full-screen lu-preloader-container--overlay" v-show="loading_">
        <div class="lu-preloader lu-preloader--sm"></div>
    </div>
    <!-- static content -->
    <div v-if="content">
        {{content}}
    </div>
    <!-- end of static content -->

    <!-- dynamic content -->
    <component
            v-bind="element.slots"
            v-bind:is="element.name"
            v-bind:key="element.uniq"
            v-for="(element,key) in elements_.elements"
            v-if="elements_.elements"
            v-on="$listeners">
    </component>
    <!-- end of dynamic content -->
</component>