<div :id="cid_" :class="css_">
    <div class="lu-row">
        <div class="lu-col-md-3" :class="elements_.sidebars && elements_.sidebars.length == 1 ? 'lu-single-element' : ''">
            <component :key="sidebar.uniq" v-bind="sidebar.slots" v-bind:is="sidebar.name" v-for="(sidebar, key) in elements_.sidebars" v-on="$listeners"></component>
        </div>
        <div class="lu-col-md-9" :class="elements_.elements && elements_.elements.length == 1 ? 'lu-single-element' : ''">
            <component :key="element.uniq" v-bind="element.slots" v-bind:is="element.name" v-for="(element, key) in elements_.elements" v-on="$listeners"></component>
        </div>
    </div>
</div>