<div :id="cid_" :class="[css_, {'lu-single-element' : options_ && options_.length == 1}]" class="lu-form-control lu-form-radio-input" ref="name_">
    <div v-for="(option, index) in options_">
        <div class="lu-form-radio-input-option" >
            <input
                    type="radio"
                    :value = option.value
                    :name="name_"
                    @change="checkOption"
                    :disabled="disabled_ != '' ? true : false"
                    :readonly="readonly_ != '' ? true : false"
                    :checked = "isChecked(option.value, index)"
            />
            <span @click="checkOption">{{option.name}}</span>
        </div>
    </div>
</div>