<ul :id="cid_" class="lu-list lu-list--info" :class="items_ && items_.length == 1 ? 'lu-single-element' : ''">
    <li class="lu-list__item" v-for="item in items_">
        <component v-if="item.icon && typeof item.icon === 'object'"  :key="item.icon.uniq" v-bind="item.icon.slots" v-bind:is="item.icon.name" ></component>
        <span class="lu-list__item-title">
            <component :key="item.title.uniq" v-bind="item.title.slots" v-bind:is="item.title.name" v-if="typeof item.title === 'object'"></component>
            <template v-else>{{item.title}}</template>
        </span>
        <span class="lu-list__value">
            <component :key="item.value.uniq" v-bind="item.value.slots" v-bind:is="item.value.name" v-if="typeof item.value === 'object'"></component>
            <!-- end of component column -->
            <!-- normal column -->
            <span v-else v-html="item.value"></span>
        </span>
        <div class="lu-top__toolbar" v-if="item.elements" :class="item.elements && item.elements.length == 1 ? 'lu-single-element' : ''">
            <component :key="element.uniq" v-bind="element.slots" v-bind:is="element.name" v-for="element in item.elements"></component>
        </div>
    </li>
</ul>