<button :id="cid_"
        :aria-label="title"
        :class="[typeClass, sizeClass, hiddenClass, disabledClass, iconAlignClass]"
        :data-title="title"
        :tooltip-id="tooltip_id_"
        @click="onClick"
        @click.middle="onClickMiddle"
        @mousedown.middle.prevent.stop
        class="lu-btn lu-btn--link lu-btn--plain lu-tooltip"
        data-toggle="lu-tooltip"
        href="#"
        type="button">
    <span class="lu-btn__text" v-if="label_ && checkLabelPosition('left')">{{label_}}</span>
    <i class="lu-btn__icon lu-preloader lu-preloader--sm" v-if="isLoading_"></i>
    <i class="lu-btn__icon" :class="icon_" v-else-if='icon'></i>
    <span class="lu-btn__text" v-if="label_ && checkLabelPosition('right')">{{label_}}</span>
</button>